<div id="home">
 <!--  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%#= image_path 'team.jpg'%>');"> -->
<!--   <div class="team-picture-wrapper">
    <%#= image_tag 'team.jpg', class: 'banner' %>
  </div> -->
  <div class="team-pic">
    <%= image_tag 'team.jpg', class: 'banner-team' %>
  </div>
  <div class="container">
    <div class="center header-prim">
      Willkommen in unserer Praxis
    </div>
    <p class="about">
      <center>
        Die Zahnarztpraxis Dres. Wehrheim ist eine seit fast 100 Jahren familengeführte Praxis. Heute stehen wir für moderne Behandlungsmethoden und Digitalisierung in jeglichem Bereich der Zahnheilkunde und Unternehmensführung. Neben der Implantologie, liegen unsere Spezialgebiete auch in dem hochwertigen Zahnersatz aus Deutschland und zahn- und implantaterhaltenden Prophylaxe.
      </center>
      <p>

        <div class = "button-center eckig gold">
          <%= link_to "Erfahren Sie mehr >", "#", class:"no-dec-link" %>
        </div>

      </p>

    </p>

  </div>
  <div class="container-back-leistungen">
    <div class="center header-sec">
      Leistungen
    </div>
    <p>
      <center>
        Wir bieten Ihnen die besten zahnärztlichen Lösungen
      </center>
    </p>
    <div class="row-wrapper">
      <div class="row">
        <div class="col-sm-4 col-xs-12 center icon-box grow">
          <div class="icon-wrapper">
            <%= image_tag 'crowned-tooth.svg', class:'icons'%>
            <div class="icon-desc">
              <div class="icon-desc-2">
                Ästhetischer Zahnersatz
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12 center icon-box grow">
          <div class="icon-wrapper">
            <%= image_tag 'fake-tooth.svg', class:'icons'%>
            <div class="icon-desc">
              <div class="icon-desc-2">
                Implantologie
              </div>

            </div>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12 center icon-box grow">
          <div class="icon-wrapper">
            <%= image_tag 'shiny-tooth.svg', class:'icons'%>
            <div class="icon-desc">
              <div class="icon-desc-2">
                Prophylaxe
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- FLATICON CREDIT
        <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
      <p>
          <div class = "button-center eckig gold">
            <%= link_to "Unsere Leistungen >", "leistungen.html", class: 'no-dec-link' %>
          </div>
      </p>
    </div>
  </div>
  <div class="team">
    <div class="center header-sec">
      Das Team
    </div>
    <p>
      <center>
        Beste Ergenisse durch Teamwork
      </center>
    </p>
    <div class="row-wrapper-large">
      <div class="row" style="overflow: hidden;">
        <div class="col-xs-12 col-sm-6">
          <div class="text">
            Nur durch Zusammenarbeit und gegeseitiges Vertrauen, können Ergebnisse erziehlt werden, die für den Kunden maßgeschneidert sind. Daher legen wir wert auf eine gute Teamdynamik zwischen Zahnarzthelferinnen, Technikern und den Zahnärzten.
            Damit die Maschine der Praxis auch unter Hochdruck einwandfrei läuft, hat jeder Mitarbeiter eigenständige Aufgaben. Durch Fortbiludngen und Workshops können wir somit unseren Kunden die besten Lösungen aus diesem großen Wissenspool anbieten. Erfahren Sie mehr über das Team und die jeweilgien Fachbereiche.
          </div>
          <p>
            <div class = "button-center eckig gold">
              <%= link_to "Erfahren Sie mehr >", "team.html", class: 'no-dec-link' %>
            </div>
          </p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="image-wrapper">
            <%= image_tag 'papa.jpg', class: "size-six-img" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-back-digi">
    <div class="center header-sec">
      Digitalisierung
    </div>
    <p>
      <center>
        Perfektion durch modernste Technik
      </center>
    </p>
    <p>
      <center>
        Damit wir Ihnen das beste Ergenis bieten können, setzen wir auf die Zusammenarbeit zwischen Mensch und Maschine. Die Möglichkeiten in der Medizintechnik haben sich enorm weiterentwickelt in den letzten Jahren. Wir bilden uns darin fort um Ihnen mit dieser Technik ein besseres Ergenis bieten zu können. Durch den Einsatz von 3D Modellen, können Implantate und Kronen millimeter genau angefertigt werden und garantieren somit eine bessere Passform. Unsere Zahntechnikern wird somit ein vielseitigeres Arbeiten ermöglicht.
      </center>
    </p>
    <p>
          <div class = "button-center eckig gold">
            <%= link_to "Erfahren Sie mehr >", "#", class: 'no-dec-link' %>
          </div>
      </p>

  </div>
</div>
<div class="infos">
  <div class="row">

    <div class="col-xs-12 col-sm-4 info-boxes">
      <div style="width: 100%">
        <div class="info-header weiss">
          <i class="fa fa-clock-o weiss"></i>
          &ensp;
          <div>Öffnungszeiten</div>
        </div>
        <div class="oeffnungszeiten">
          <div class="col-xs-1 oeff1">
            <div>Mo:</div>
            <div>Di:</div>
            <div>Mi:</div>
            <div>Do:</div>
            <div>Fr:</div>
          </div>
          <div class="col-xs-10 oeff2">
            <div>9:00-13:00 & 15:00-18:00</div>
            <div>9:00-13:00 & 15:00-18:00</div>
            <div>9:00-13:00 & 15:00-18:00</div>
            <div>9:00-13:00 & 15:00-18:00</div>
            <div>9:00-13:00</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 info-boxes">
      <div style="width: 100%">
        <div class="info-header weiss">
          <i class="fa fa-comments"></i>
          &ensp;
          <div>Kontakt</div>
        </div>
        <div class="adresse">
          <div>Praxis Dr. Wehrheim</div>
          <div>Alexander-Wellendorff-Str. 2A</div>
          <div>75172 Pforzheim</div>
        </div>
        <div class="tel">
          <div>Telefon: 07231/313673</div>
          <div>Fax: 07231/313672</div>
          <div>E-Mail: praxiswehri@onlinehome.de</div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 info-boxes">
      <a href="https://www.google.de/maps/dir/50.1230845,8.6422256/Praxis+Dr.+Wehrheim,+Alexander-Wellendorf-Stra%C3%9Fe+2,+75172+Pforzheim/@49.4554671,7.6946711,8z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x4797721a0a34c9c7:0xeaa843356defd5da!2m2!1d8.693432!2d48.889535" class="googlelink">
        <img src="https://res.cloudinary.com/dckfp34gk/image/upload/v1538913718/Dr-Wehrheim/Karte-Praxis.png" alt="Karte" class="googlemap">
      </a>
    </div>
  </div>
</div>


